{##}
<button class="focus-visible:outline-blue block _offcanvas-switch" type="button" aria-label="Open sidebar menu">
    <svg width="28" height="22" viewBox="0 0 28 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.666626 1H27.3333H0.666626ZM0.666626" stroke="#111827" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M0.666626 11H27.3333H0.666626Z" stroke="#111827" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M0.666626 21H27.3333M0.666626" stroke="#111827" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    {% if sr_text %}
        <span class="sr-only">{{ sr_text }}</span>
    {% endif %}
</button>
